.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem 2rem; /* Padding from top/bottom: 1rem, left/right: 2rem */
  text-align: center;
}

/* Table styles */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 1rem; /* Padding from top/bottom: 1rem, left/right: 1rem */
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table tbody tr:hover {
  background-color: #ddd;
}

.form-container {
  margin-top: 2rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container .MuiTextField-root {
  margin-bottom: 1rem;
}

.form-container button {
  margin-top: 1rem;
}